@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Site_User

<h2>User Details</h2>

<p><strong>ID:</strong> @Model.Id</p>
<p><strong>Email:</strong> @Model.EmailAddress</p>
<p><strong>PhoneNumber:</strong> @Model.PhoneNumber</p>
<p><strong>Password:</strong> @Model.Password</p>

<a asp-action="Index" class="btn btn-secondary">Back to List</a>
